/********************
/* section header 
********************/

.blog-page {
  background: url(./images/blog_hero.jpg) 50% 0% no-repeat;
  position: relative;
  height: 450px;
  margin-bottom: 75px;
}

.blog-text,
.contact-text {
  background: rgba(255, 255, 255, 0.7);
  width: 66%;
  height: 460px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.blog-text span,
.contact-text span {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  right: 60px;
}

.blog-text span h1,
.contact-text span h1 {
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: 0.8rem;
}

.blog-text span p,
.contact-text span p {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #383838;
}

/********************
/* section blog lists 
********************/

.blog-post {
  position: relative;
  margin-bottom: 75px;
}

.blog-post .blog-post-img {
  width: 75%;
}

.blog-post-info {
  background: #383838;
  font-size: 0.8em;
  width: 200px;
  /* height: 320px; */
  cursor: pointer;
  color: #fff;
  padding: 45px;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
}

.blog-post-info h2 {
  /* text-align: center; */
}

.blog-post-info h3 {
  text-transform: none;
  font-size: 1.2em;
}

.blog-post-info p {
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.blog-post-info i {
  float: right;
}

/********************
  /* section buttons 
  ********************/

.buttons {
  margin-bottom: 75px;
}

.button-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

section.buttons li {
  border: 1px solid #f4f4f4;
  padding: 16px 18px;
  margin: 3px;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 700;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

section.buttons li:hover {
  color: #fff;
  background-color: rgba(123, 238, 199, 0.7);
}

@media only screen and (min-width: 640px) {
  /********************
  /* section header 
  ********************/

  .blog-text,
  .contact-text {
    width: 40%;
  }

  /********************
  /* section blog lists 
  ********************/

  .blog-post-info {
    width: 320px;
    height: 230px;
    font-size: 1em;
    height: 320px;
  }
}
